<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.edu.example.delicoffee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".activity.Forgot_Password"
            android:exported="false" /> <!-- +++++++++++++++++++++++++++ -->
        <activity
            android:name=".activity.Cover"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ++++++++++++++++++++++++++++++ -->
        <activity
            android:name=".activity.Checkout"
            android:exported="false" />
        <activity
            android:name=".activity.Profile_S"
            android:exported="false" />
        <activity
            android:name=".activity.Your_Orders"
            android:exported="false" />
        <activity
            android:name=".activity.SingIn"
            android:exported="false" />
        <activity
            android:name=".activity.Product_Detail"
            android:exported="false" />
        <activity
            android:name=".activity.SignUp"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project.edu.example.delicoffee.activity.SingIn" />
        </activity>
        <activity
            android:name=".activity.Home"
            android:exported="false" />
        <activity
            android:name=".activity.Search_result"
            android:exported="false" />
    </application>

</manifest>